Package: chonos-sysconfig
Version: 1.4
Priority:
Architecture: all
Essential:
Depends: chonos-firmwaremng (>=1.5.2), chonos-embeddedmas (>=1.1.0), chonos-log (>=1.4)
Pre-depends: chonos-cert (>=23.12.17)
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: ChonOS System Configurator
