Package: chonos-sysconfig
Version: 1.0.0
Priority:
Architecture: all
Essential:
Depends: chonos-firmwaremng (>=1.0.0), chonos-embeddedmas (>=1.0.1), chonos-cert
Pre-depends:
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: ChonOS System Configurator
