Package: chonos-sysconfig
Version: 1.4.5
Priority:
Architecture: all
Essential:
Depends: chonos-log, chonos-task
Pre-depends: sudo, chonos-cert(>= 24.06.28)
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: ChonOS System Configurator
